body {
    color: white;
    font-family: 'Barlow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(107.56deg, #151515 0%, #28231E 100%);
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeinBg {
    from {
        background-color: rgba(0, 0, 0, 0);
    }
    to {
        background-color: rgba(0, 0, 0, 0.4);
    }
}

#home-page {
    background-image: url(Assets/cover.jpg);
    background-size: cover;
    background-position: center center;
}

#bg-overlay {
    animation: fadeinBg 1s ease-out 1 forwards;
}

#nav {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 85%;
    height: 15vh;
    height: calc(var(--vh, 1vh) * 15);
    justify-content: space-between;
    align-items: center;
}

#phone-nav {
    display: none;
}

.nav-element {
    text-decoration: none;
}

.nav-element-text {
    color: white;
    font-weight: 500;
    font-size: 1.4rem;
    letter-spacing: 0.06em;
}

.nav-element-line {
    transition: .3s ease-out;
    margin-top: 2px;
    border-bottom: 3px solid white;
}

.nav-element-line:not(.selected) {
    width: 0;
}

.nav-element:hover>.nav-element-line {
    width: 100%;
}

#banner {
    animation: fadein 1s;
    font-family: 'Playfair Display', serif;
    font-size: calc(1.2em + 3.2vw);
    letter-spacing: 0.1em;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    height: calc(var(--vh, 1vh) * 70);
}

#socials {
    padding: 0;
    margin: auto;
    height: 15vh;
    height: calc(var(--vh, 1vh) * 15);
    display: flex;
    width: calc(17rem + 5vw);
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.socials-icon svg {
    transition: .2s;
    fill: white;
    width: calc(2rem + 0.5vw);
    height: auto;
}

.socials-icon svg:hover {
    fill: rgb(180, 180, 180);
}

.content {
    margin: auto;
    width: 85%;
    min-height: 70vh;
    min-height: calc(var(--vh, 1vh) * 70);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromLeftDelayed {
    0% {
        transform: translateX(-120%);
    }
    20% {
        transform: translateX(-120%);
    }
    100% {
        transform: translateX(0);
    }
}

#left-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#right-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding-left: 3em;
    justify-content: space-around;
}

h2 {
    font-family: 'Playfair Display', serif;
    animation: .7s cubic-bezier(0.165, 0.84, 0.44, 1) 0s 1 slideInFromLeft;
    font-weight: bold;
    font-size: calc(2.5em + 2vw);
    line-height: calc(1em + 3.5vw);
    letter-spacing: 0.06em;
    margin: 0;
}

#body-text {
    width: 90%;
    animation: .7s cubic-bezier(0.165, 0.84, 0.44, 1) 0s 1 slideInFromLeftDelayed;
    margin: 0;
    font-size: calc(1.6em + 0.1vw);
    line-height: 131.3%;
    letter-spacing: 0.1em;
}

#members {
    animation: .7s cubic-bezier(0.165, 0.84, 0.44, 1) 0s 1 slideInFromLeft;
    height: 90%;
    padding: 0 0 0 3em;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

#members li {
    margin-bottom: -3px;
}

.avatar {
    height: 100%;
}

.member {
    min-height: 0;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
}

.member-text {
    margin-left: 3em;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

@media (max-width: 1200px) {
    .content {
        flex-direction: column;
        align-items: center;
    }
    .opis {
        text-align: left;
    }
    #left-container {
        align-items: flex-start;
        padding-bottom: 40px;
    }
    #left-container>* {
        padding-bottom: 40px;
    }
    #right-container {
        padding-bottom: 40px;
        padding-left: 0;
    }
    #members {
        padding-left: 0;
    }
}

@media (max-width: 720px) {
    .member {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .avatar {
        width: 133px;
    }
    h3 {
        text-align: center;
    }
    .member-text {
        margin: 0;
    }
    .instruments {
        text-align: center;
    }
    .member:not(.last) {
        padding-bottom: 60px;
    }
    .member>* {
        margin-bottom: 20px;
    }
}

h3 {
    margin: 0;
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    letter-spacing: 0.06em;
}

.instruments {
    margin: 0;
    font-weight: 300;
    font-size: 28px;
    letter-spacing: 0.06em;
}

#glasba {
    animation: 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0s 1 fadein;
}

#spotify-container {
    flex: 1;
    border-right: 1px solid rgb(80, 80, 80);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 3rem;
}

#youtube-container {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem;
    justify-content: space-between;
}

#youtube-container iframe {
    max-height: 330px;
    max-width: calc(330px * (16 / 9));
    height: calc(25vw + 5rem);
    width: calc((25vw + 5rem) * (16 / 9));
}

h4 {
    margin: 0;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 50px;
    letter-spacing: 0.1em;
}

#image-caption {
    font-size: 1.5em;
    font-weight: 300;
}

button {
    transition: .3s;
    border: 3px solid white;
    background-color: rgba(0, 0, 0, 0);
    font-weight: 500;
    font-size: calc(1rem + .2vw);
    letter-spacing: 0.13em;
    padding: 14px 30px;
    color: white;
    font-family: 'Barlow', sans-serif;
}

button:hover {
    cursor: pointer;
    border: 3px solid white;
    background-color: rgb(255, 255, 255);
    color: black;
}

#spili {
    animation: .7s cubic-bezier(0.165, 0.84, 0.44, 1) 0s 1 fadein;
    margin: 0;
    width: 70%;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#spil {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

#spil-left {
    padding: 10px 20px;
    display: flex;
    flex: 1;
    background-color: white;
    color: black;
    justify-content: space-evenly;
    align-items: center;
}

#spil-left-num {
    font-size: 90px;
    font-weight: 500;
    margin-right: 10px;
    letter-spacing: 0.06em;
}

#spil-left-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#spil-left-text-month {
    font-size: 36px;
    font-weight: 500;
    letter-spacing: 0.06em;
}

#spil-left-text-day {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.06em;
}

#spil-middle {
    display: flex;
    padding: 0 60px;
    flex: 3;
    flex-direction: column;
    justify-content: space-around;
}

#spil-middle-top {
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 0.06em;
}

#spil-middle-bottom {
    font-size: 26px;
    letter-spacing: 0.06em;
    color: #8C8C8C;
}

@media (max-width: 1150px) {
    #spil {
        flex-direction: column;
        margin: 4rem 0;
        text-align: center;
    }
    #spil-left {
        margin: 0.5rem 0;
    }
    #spil-middle {
        margin: 0.5rem 0;
    }
    #spil-right {
        margin: 1rem 0;
    }
}

#left-contact {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: start;
}

#right-contact {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 1;
    padding-left: 100px;
    align-items: flex-start;
}

#left-contact>* {
    padding: 1.5rem 0;
    width: 90%;
}

input,
textarea {
    font-family: 'Barlow', serif;
    color: white;
    letter-spacing: 0.1em;
    padding-left: 25px;
    font-size: 1.2em;
    background: rgba(255, 255, 255, 0);
    border: 1px solid #FFFFFF;
    width: 85%;
}

#email-input {
    height: 7%;
}

#text-input {
    padding-top: 20px;
    height: 50%;
}

#contacts-container {
    animation: .7s cubic-bezier(0.165, 0.84, 0.44, 1) 0s 1 slideInFromLeftDelayed;
    display: flex;
    flex-direction: column;
    padding-top: 0.5vw;
}

#contact-container {
    padding-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: white;
}

#contact-icon {
    width: calc(1rem + 1.5vw);
}

#separator-dot {
    width: calc(0.4rem + 0.1vw);
    height: calc(0.4rem + 0.1vw);
    background-color: grey;
    border-radius: 50%;
    margin: 0 calc(0rem + 1.5vw);
}

#contact-info a {
    transition: .3s;
    text-decoration: none;
    color: white;
    font-size: calc(0.8rem + 1.1vw);
    letter-spacing: 0.1em;
}

#contact-info a:hover {
    color: rgba(255, 255, 255, 0.541);
}

#flex-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 1500px) {
    #kontakt {
        flex-direction: column;
        align-items: stretch;
        margin-bottom: 3rem;
    }
    #left-contact {
        margin-bottom: 2rem;
        justify-content: space-evenly;
        align-items: center;
    }
    #right-contact {
        align-items: center;
        padding: 0;
    }
    #contact-form {
        padding: 0;
    }
    #email-input {
        padding: 10px 0 10px 20px;
    }
    #text-input {
        height: 300px;
    }
    input,
    textarea {
        margin-bottom: 2rem;
    }
    #glasba {
        flex-direction: column;
        align-items: center;
    }
    #spotify-container {
        border-right: none;
        border-bottom: 1px solid rgb(80, 80, 80);
        margin-bottom: 40px;
    }
    #glasba>*>* {
        margin-bottom: 40px;
    }
}

#cross {
    display: none;
}

@media (max-width: 950px) {
    #nav {
        display: none;
    }
    #phone-nav {
        height: 15vh;
        height: calc(var(--vh, 1vh) * 15);
        display: flex;
        justify-content: center;
    }
    #phone-nav svg {
        fill: white;
        cursor: pointer;
    }
    #svg-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    #svg-wrapper svg {
        padding: 7px 10px;
        margin-left: 30px;
    }
    #svg-wrapper .homeIcon {
        background-color: rgb(36, 36, 36);
    }
    #nav {
        height: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 5px;
        margin-top: 20px;
        margin-bottom: 40px;
    }
    #nav a {
        padding-bottom: 30px;
    }
}